{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <label for="company">Company name
        <input type="text" id="company"/>
    </label>
    <button type="button" onclick=handleSubmit()>Submit</button>

    <script>
        function handleSubmit() {
            let company_name = document.getElementById('company').value

            console.log(company_name)

            let url = "{{ path("get_company", {"company_name" : "company_name"}) }}"
            url = url.replace("company_name", company_name)
            fetch(url)
                .then(response => {
                    // Gérer la réponse HTTP
                    if (!response.ok) {
                        throw new Error('Erreur de réseau ou de serveur');
                    }
                    // Transformer la réponse en un format souhaité (par exemple, JSON)
                    return response.json(); // Vous pouvez également utiliser response.text(), response.blob(), etc.
                })
                .then(data => {
                    // Traiter les données récupérées
                    console.log(data);
                })
                .catch(error => {
                    // Gérer les erreurs potentielles
                    console.error('Une erreur s\'est produite : ', error);
                });
        }


    </script>
{% endblock %}
