{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <section class="container d-flex flex-column align-items-center mt-3">
        <section class="container d-flex flex-column align-items-center">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="company" placeholder="Decalog">
                <label for="company">Nom de l'entreprise</label>
            </div>
            <button type="button" onclick=handleSubmit() class="btn btn-success w-25">Rechercher</button>
        </section>

        <div class="d-flex flex-column w-50" id="list-company">

        </div>
    </section>

    <script>
         const handleSubmit = () => {
            let company_name = document.getElementById('company').value

            let url = "{{ path("search_get_company", {"company_name" : "company_name"}) }}"
            url = url.replace("company_name", company_name)

            fetch(url)
                .then(response => {
                    // Gérer la réponse HTTP
                    if (!response.ok) {
                        throw new Error('Erreur de réseau ou de serveur');
                    }
                    // Transformer la réponse en un format souhaité (par exemple, JSON)
                    return response.json();
                })
                .then(data => {
                    // Traiter les données récupérées
                    const companies = data.results;
                    const listCompany = document.getElementById('list-company');
                    listCompany.innerHTML = '';
                    const parser = new DOMParser();

                    companies.forEach(company => {
                        let urlCompany = "{{ path("company_details", {"siren" : "company_siren"}) }}"
                        urlCompany = urlCompany.replace("company_siren", company.siren)

                        let template =
                        `<div class='d-flex justify-content-between mb-2 mt-2'>
                            ${company.nom_complet}
                            <a href="${urlCompany}" onclick="saveCompany(${company.siren})" class='btn btn-primary'> Consulter </a>
                        </div>`;

                        const li = parser.parseFromString(template, 'text/html');
                        listCompany.append(li.body.firstElementChild);
                    });
                })
                .catch(error => {
                    // Gérer les erreurs potentielles
                    console.error('Une erreur s\'est produite : ', error);
                });
        }

    </script>
{% endblock %}
